<!-- <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" style="width: 100%;">
  <h1>
    Sams Personal RTF to HTML
  </h1>
  <quill-editor
    [modules]="modules"
    [styles]="{ height:'calc(100vh - 521px)', width: '90vw'}"
    [(ngModel)]="html"
  ></quill-editor>
  <div fxLayout="column" fxLayoutAlign="end end" [style]="{ width: '100%'}">
    <button mat-raised-button color="primary" (click)="openHTMLDialog()">
      See Html
    </button>
  </div>
</div> -->

<h1>test</h1>
